<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="mainDiv">
        <fieldset>
            <input type="text" id="search-item" />
            <button type="submit" onclick="fetchIngredients()" id="search-button">Search</button>
        </fieldset>
    </div>
    <div id="fridge">
        <h3>Fridge</h3>
        <ul id="fridge-contents"></ul>
    </div>
    <div id="search-results">
        <h3>Search Results</h3>
        <ul id="search-results-list">
            <!-- empty, fill with ingredients -->
        </ul>
    </div>

    <script src="./fetchIngredients.js"></script>
    <script src="./fetchFridgeData.js"></script>

<%- include('./templates/footer') %>