<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/styles/landingPage.css">
    <script src="./fetchIngredients.js"></script>
    <script src="./fetchFridgeData.js"></script>
    <style>

        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
        linear-gradient(to bottom, rgb(93, 141, 121), rgba(86, 182, 86, 0.527));
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        #search-item {
            margin-top: 90px;
            width: calc(100% - 80px);
            padding: 8px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #search-button, #load-preset-button {
            padding: 8px;
            border: none;
            border-radius: 5px;
            background-color:  rgb(93, 141, 121);
            color: #fff;
            cursor: pointer;
            text-shadow: 1px 1px 4px black;
        }
        
        #search-button {
            border-radius: 34;
            width: 40px;
        }

        #load-preset-button {
            border-radius: 34;
            width: 175px;
        }

        #fridge-contents,
        #search-results-list {
            list-style: none;
            padding: 0;
            overflow-y: auto;
            max-height: 300px;
        }

        #fridge-contents li,
        #search-results-list li {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
        }

        #fridge-contents li:hover,
        #search-results-list li:hover {
            background-color: #f0f0f0;
        }

        #search-results-list li:hover {
            cursor: pointer;
        }

        #search-button:hover {
    background-color: rgb(82, 83, 78);
    }
    
    #load-preset-button:hover {
    background-color: rgb(82, 83, 78);
    }

    h3 {
        color: white; 
        text-shadow: 2px 2px 4px black;
    }

        
    </style>
</head>

<body>
    <header id="header">
        <span class="search-button"><h2>Home</h2></span>
        <ion-icon class="bookmark-outline" size="large" name="bookmark-outline"></ion-icon>
    </header>
    
    <div class="container">
        <div id="mainDiv">
            <input type="text" id="search-item" placeholder="Search item..." />
            <button onclick="fetchIngredients()" id="search-button">
                <ion-icon name="search-outline"></ion-icon>
            </button>
        </div>
        <div id="fridge">
            <h3>Fridge</h3><button onclick="loadPresetFridge()" id="load-preset-button">Load Preset Fridge</button>
            <ul id="fridge-contents"></ul>
        </div>
        <div id="search-results">
            <h3>Search Results: </h3>
            <ul id="search-results-list">
                <!-- empty, fill with ingredients -->
            </ul>
        </div>
    </div>

    <%- include('./templates/footer') %>
