<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./fetchIngredients.js"></script>
    <script src="./fetchFridgeData.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        fieldset {
            border: none;
            margin: 0;
            padding: 0;
        }

        #search-item {
            width: calc(100% - 80px);
            padding: 8px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #search-button {
            width: 80px;
            padding: 8px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

        #fridge-contents,
        #search-results-list {
            list-style: none;
            padding: 0;
        }

        #fridge-contents li,
        #search-results-list li {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
        }

        #fridge-contents li:hover,
        #search-results-list li:hover {
            background-color: #f0f0f0;
        }

        #search-results-list li:hover {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="mainDiv">
            <input type="text" id="search-item" placeholder="Search item..." />
            <button type="submit" onclick="fetchIngredients()" id="search-button">Search</button>
        </div>
        <div id="fridge">
            <h3>Fridge</h3>
            <ul id="fridge-contents"></ul>
        </div>
        <div id="search-results">
            <h3>Search Results</h3>
            <ul id="search-results-list">
                <!-- empty, fill with ingredients -->
            </ul>
        </div>
    </div>

    <%- include('./templates/footer') %>
