<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry-Pal</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/index.css">

</head>
<body>
    <div class="container">
        <h1>Welcome to Pantry-Pal</h1>
        <h3>First time?</h3>
        <a href="/signup"><button class="btn">Sign up</button></a>
        <h3>Already have an account?</h3>
        <a href="/login"><button class="btn">Login</button></a>
        
    </div>
</body>
</html>
