<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ingredients List">
    <title>Ingredients List</title>
    <!-- Include the header -->
    <%- include('templates/header') %>

</head>

<body>
    <div class="container">
        <h1>Shopping List</h1>
        <ul id="ingredients-list">
            <!-- The shopping list dynamically generated here -->
        </ul>
        <button id="delete-checked-items">Delete Checked Items</button>
    </div>

    <!-- Include the footer -->
    <%- include('templates/footer') %>

    <!-- JavaScript dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/ingredientslist.js"></script>
</body>

</html>