<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('templates/header') %> 
</head>
<body>


<!--------------------------------------------------------->
<!-- Our Pages Content Should Be Entered Below This Line -->
<!--------------------------------------------------------->










<!-------------------------------------->
<!-- Our Custom Footer Containg Icons -->
<!-------------------------------------->
    <%- include('templates/footer') %> 
</body>
</html>