<!----------------------------------------------------------->
<!---The Navbar Of Our Application, Can Still Revise It ----->
<!----------------------------------------------------------->
<!DOCTYPE html>
<link rel="stylesheet" href="/styles/landingPage.css">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<head>
    <%- include('templates/header') %> 
</head>
<body>
    <header id="header">
        <span class = "search-button"><h2>Home</h2></span>
        <ion-icon class = "search-button" size="large" name="search-outline"></ion-icon>
    </header>
</body>
</html>

<!--------------------------------------------------------->
<!-- Our Pages Content Should Be Entered Below This Line -->
<!--------------------------------------------------------->










<!-------------------------------------->
<!-- Our Custom Footer Containg Icons -->
<!-------------------------------------->
<body>
    <%- include('templates/footer') %> 
</body>