<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Document</title>
</head>
<body>
    <p>Invalid or expired token.</p>
    <a href="/forgot-password">back to Forgot Password</a>
</body>
</html>