<%- include('./templates/header-boostrapOnly') %>
<form action="/reset-password" method="post">
    <input type="hidden" name="token" value="<%= token %>">
    <input type="password" name="newPassword" placeholder="Enter new password" required>
    <button type="submit">Reset Password</button>
</form>
<%- include('./templates/footer') %>
