<%- include('./templates/header') %>
<form action="/resetPassword" method="POST">
    <input type="hidden" name="token" value="<%= token %>">
    <input type="password" name="newPassword" placeholder="Enter new password" required>
    <button type="submit">Reset Password</button>
</form>
<%- include('./templates/footer') %>
