<footer class="footer">
    <a href="/landingPage"><ion-icon name="home"></ion-icon></a> 
    <a href="/shoppingList"><ion-icon name="receipt"></ion-icon></a> 
    <a href="/prompt"><ion-icon name="fast-food"></ion-icon></a> 
    <a href="/fridge"><ion-icon name="beaker"></ion-icon></a>
    <a href="/profile"><ion-icon name="accessibility"></ion-icon></a>

</footer>