<footer class="footer">
    <a href="/Home"><ion-icon name="home"></ion-icon></a> 
    <a href="/shoppingList"><ion-icon name="reader"></ion-icon></a> 
    <a href="/prompt"><ion-icon name="fast-food"></ion-icon></a> 
    <a href="/fridge"><ion-icon name="briefcase"></ion-icon></a>
    <a href="/profile"><ion-icon name="person"></ion-icon></a>

</footer>