<link rel="stylesheet" href="/styles/landingPage.css">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<header id="header">
    <span class="search-button"><h2>Home</h2></span>
    <ion-icon class="bookmark-outline" size="large" name="bookmark-outline"></ion-icon>
    </header>
