/* General body styling */
body {
    background-color: #bfd3b5; 
    font-family: 'Verdana', sans-serif; 
    color: #353535; 
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
}


#forgot-password-form {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center; 
}


input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; 
    border: 2px solid #7fa593; 
    border-radius: 4px; 
    box-sizing: border-box;
}


button {
    width: 100%;
    background-color: #506a5b; 
    color: #ffffff; 
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3d5145; 
}

/* Message styling */
#message {
    font-size: 0.9rem;
    padding: 5px;
}

.message{
    display: block;
    font-size: 1.1rem;
    padding: 5px;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: center;
    height: 100vh;       
}