body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #83aa7083;
    min-height: calc(100vh - 100px); 
    display: flex;
    flex-direction: column;
}

button {
    /* Style for buttons */
    background-color: rgb(93, 141, 121);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;

}

button:hover {
background-color: rgb(82, 83, 78);
}



#header {
    display: flex;
    justify-content: space-between;
    background-image: repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
    linear-gradient(to bottom, rgb(93, 141, 121), rgba(93, 141, 121, 0.753));
    height: 60px;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
.container {
    flex: 1; 
    padding-bottom: 60px; 
    padding-left: 15px;
    padding-right:15px;
    padding-top: 80px;
}



/* Shopping list elements */
.strikethrough label {
    text-decoration: line-through;
    color: #777;
}

label {
    margin-left: 10px;
}

.ingredient-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.left-container {
    display: flex;
    align-items: center;
}

.left-container label {
    margin-left: 8px;
}

.ingredient-price {
    margin-left: auto;
    font-weight: bold;
}

.strikethrough {
    text-decoration: line-through;
    color: grey;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly; /* Center the content horizontally */
    align-items: center;
    background-image: repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
    linear-gradient(to bottom, rgb(93, 141, 121), rgba(86, 182, 86, 0.527));
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1000;
}

footer ion-icon {
    font-size: 30px;
}

a {
    color: white;
}

.footer a ion-icon {
    color: white;
    transition: color 0.3s;
}

.footer a:hover ion-icon {
    color: rgb(255, 251, 0);
}



.missing {
    list-style: none;
    padding-left: 0; 
}

/* Media Queries */
@media (max-width: 768px) {
    #recipe-title {
        font-size: 1.5em;
    }
    #header {
        flex-direction: column;
        height: auto;
    }
    button {
        margin-top: 10px;
    }

}

