body {
    background-color: #bfd3b5; 
    font-family: 'Verdana', sans-serif;
    color: #353535;
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100vh; 
    margin: 0; 
    padding: 0; 
}

.container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px; 
    text-align: center; 
}
.reset-form input[type="password"] {
    width: 100%; 
    padding: 12px;
    margin-bottom: 20px; 
    border: 1px solid #7fa593;
    border-radius: 6px;
    box-sizing: border-box;
}

.btn {
    background-color: #506a5b;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: #3d5145;
}
